<% if @source.length == 0 || @phase.length == 0 || @cohort.length == 0 %>


    <button type="button" class="close" data-dismiss="alert">×</button>
    You need to...  
    <ul>
    <% if @source.length == 0 %>
    <li>select at least one <b>source</b></li>
    <% end %>

    <% if @phase.length == 0 %>
    <li>select at least one <b>phase</b></li>
    <% end %>

    <% if @cohort.length == 0 %>
    <li>select at least one <b>cohort</b></li>
    <% end %>



<% end %>