

<div id="sources">
  <ul class="source_filter">

  <% @sources.each do |source| %> 

    <li><%= link_to source.source, '?source=' + source.source %></li>

  <% end %>

  </ul>
</div>

<div id="phases">
  <ul class="phase_filter">

  <% @phases.each_with_index do |phase,index| %>

    <li><%= link_to phase, '?phase_id=' + index.to_s %></li>

    <% end %>

  </ul>
</div>

<div id="cohorts">
  <ul class="cohort_filter_1">    
    
  <% @cohorts.each_with_index do |cohort,index| %>

    <% if @cohorts.length / 2 == index - 1 %>
      </ul><ul class="cohort_filter_2">
    <% end %>  

    <li><%= link_to cohort, '?cohort=' + cohort.to_s %></li>
  
  <% end %>  

  </ul>
</div>