


			

        
<%= render 'shared/meta' %>

        <a href="#"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>

  
     <%= @post.title %></h4>
           <%= image_tag @post.url %>
	    
      



