


			
      <div class="media well">
        
        <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>

         <div class="media-body">
           <h4 class="media-heading"><%= @post.title %></h4>
           <%= image_tag @post.url %>
	     </div>
      
      </div>




