
<div class="meta">

<span class="source_icon"><%= image_tag("#{@post.resource.source}.png", :size => "20x20") %></span>

<b><%= @post.resource.boot.try(:name) %></b> <% cohort = @post.resource.boot.try(:cohort) %> <%= cohort.try(:name) %><br>Posted <%= time_ago_in_words(@post.posted_at)%> ago 


        
</div>        
<hr>
