

<%= image_tag @post.data['user']['profile_image_url'] %>
  <a href="#">

    <img src="<%= @post.data['user']['profile_image_url'] %>"></a>

      <b><%= @post.resource.user_name %></b>
      <br>
      <%= @post.body %>





