

<div class="media well">
  <a href="#" class="pull-left">
    <img src="http://dummyimage.com/64x64&text=avatar" class="media-object" alt='' /></a>
    <div class="media-body">
      <h4 class="media-heading"></h4>
      <b><%= @post.resource.user_name %></b>
      <br>
      <%= @post.title %>
	</div>
</div>




